In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
dotrongthuc_1_df = pd.read_excel(".\đo_trong_thuc_2025-01-04T15_44_44.430329+07_00.xlsx")
df = dotrongthuc_1_df.copy()

c:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df

,customer_id,last_active_date,recency,frequency,monetary,frequency_percent_rank,monetary_percent_rank,recency_rank,frequency_rank,monetary_rank,rfm_rank,recency_segment,frequency_segment,monetary_segment,rfm_segment
0,2260,2024-08-12,145,1,221.895115,0.000000,0.172258,2,1,1,211,2-Churning,1-Least frequent,1-Least spending,NaN
1,1430,2024-05-16,233,1,123.915514,0.000000,0.085161,1,1,1,111,1-Churned,1-Least frequent,1-Least spending,NaN
2,1127,2024-03-05,305,1,223.570144,0.000000,0.173548,1,1,1,111,1-Churned,1-Least frequent,1-Least spending,NaN
3,1690,2024-02-25,314,1,492.015506,0.000000,0.394839,1,1,1,111,1-Churned,1-Least frequent,1-Least spending,NaN
4,2208,2024-04-01,278,1,92.890493,0.000000,0.063226,1,1,1,111,1-Churned,1-Least frequent,1-Least spending,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,1352,2025-01-01,3,18,3471.347882,0.997419,0.983226,3,3,3,333,3-Active,3-Most frequent,3-Most spending,VIP
1547,1232,2024-12-25,10,18,4234.668580,0.997419,0.991613,3,3,3,333,3-Active,3-Most frequent,3-Most spending,VIP
1548,2052,2024-10-16,80,19,3224.751767,0.998710,0.978065,3,3,3,333,3-Active,3-Most frequent,3-Most spending,VIP
1549,918,2024-11-30,35,20,3086.422163,0.999355,0.972258,3,3,3,333,3-Active,3-Most frequent,3-Most spending,VIP
1550,1317,2025-01-03,1,21,4155.837936,1.000000,0.990968,3,3,3,333,3-Active,3-Most frequent,3-Most spending,VIP

In [4]:
df.dtypes

customer_id                        int64
last_active_date          datetime64[ns]
recency                            int64
frequency                          int64
monetary                         float64
frequency_percent_rank           float64
monetary_percent_rank            float64
recency_rank                       int64
frequency_rank                     int64
monetary_rank                      int64
rfm_rank                           int64
recency_segment                   object
frequency_segment                 object
monetary_segment                  object
rfm_segment                       object
dtype: object